*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition-duration: 0.8s;
}
.container{
    max-width: 1320px;
    margin: auto;
    border: 2px solid black;
}
.width100{
    width: 100%;
}
.m20{
    margin-top: 20px;
}
.m30{
    margin-top: 30px;
}
.fluid{
    background-color: #F7F8FA;
}


/* -----------------------------Header------------------------------- */

.header{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(217, 212, 212);
}
.div1{
    width: 50%;
    text-align: end;
    margin-bottom: 20px;
    margin-top: 10px;
}
.div1 p{
    color: #364253;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
}
.div2{
    display: flex;
    justify-content: end;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
}
.smalldiv0 a{
    text-decoration: none;
    display: block;
    padding: 15px;
    border-right: 1px dotted #364253;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
}
.smalldiv1 a{
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
}

.nav{
    /* border: 1px solid red; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
}
.div3{
    margin-right: 25px;
}
.div3 a{
    text-decoration: none;
    display: block;
    color: #364253;
    text-transform: none;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 10px 10px;
}
.div3 a:hover{
    border-top: 3px solid orange;
}
.div3:first-child{
    border-top: 3px solid orange;
}


/* --------------------------------------slider------------------- */

.slider{
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 20px;
    scroll-behavior: smooth;
    /* position: relative; */
    overflow: scroll;
    overflow: hidden;
}
.slide{
    /* border: 1px solid black; */
    position: relative;
    width: 400%;
    height: 500px;
    display: flex;
    /* animation-name: element; */
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}
@keyframes element {
    0%{
        margin-left: 0%;
    }
    20%{
        margin-left: 0%;
    }
    25%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    70%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    95%{
        margin-left: -300%;
    }
    100%{
        margin-left: -400%;
    }
}
.images1{
    background-image: url(Images/Slider/headphone.jpg);
    width: 100%;
    background-position: center;
    position: relative;
}
.images2{
    background-image: url(Images/Slider/handsfree.jpg);
    width: 100%;
    background-blend-mode: overlay;
    background-color: rgb(150, 173, 180);
    background-size: cover;
    background-position: center;
    position: relative;
}
.images3{
    background-image: url(Images/Slider/girl.jpg);
    width: 100%;
    background-position-y: -200px;
    background-color: ;
    background-blend-mode: overlay;
    background-size: cover;
    position: relative;
}
.images4{
    background-image: url(Images/Slider/gadgets.jpg);
    width: 100%;
    background-size:cover ;
    position: relative;
}
.btn{
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    justify-content: center;
     margin: auto;
    transform: translateY(-35px)
}
.btn a{
    display: block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgba(0, 0, 0, .6);;
}
.btn a:hover{
    background-color: rgba(255, 255, 255, .6);;
}
.idiv{
    /* border: 1px solid red; */
    position: absolute;
    top: 120px;
    left: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.idiv0{
    /* border: 1px solid red; */
    position: absolute;
    top: 170px;
    left: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.idiv2{
    /* border: 1px solid red; */
    position: absolute;
    top: 100px;
    left: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.idiv3{
    /* border: 1px solid red; */
    position: absolute;
    top: 145px;
    left: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.idiv h2{
    line-height: 60px;
    font-family: "Karla", sans-serif;
    color: #ffffff;
    font-size: 3em;
    text-align: left;
}
.idiv p{
    text-align: left;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 100px;
    color: #ffffff;
    padding-top: 20px;
}
.idiv0 p{
    text-align: left;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 100px;
    color: #ffffff;
    padding-top: 20px;
}
.idiv a{
    display: inline-block;
    text-decoration: none;
    color: #EB984E;
    padding: 15px 40px;
    background-color: white;
    /* border: 1px solid red; */
    margin-top: 20px;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 1.42857143;
}
.idiv a:hover{
    background-color: #6C798B;
}
.idiv0 h3{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 2.5em;
    text-align: left;
}
.idiv2 h4{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}
.idiv2 h2{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 3em;
    text-align: center;
    padding: 30px;
}
.idiv2 p{
    font-family: "Muli", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    line-height: 1.8;
}
.idiv2 a{
    display: inline-flex;
    padding: 15px 25px;
    font: 16px;
    text-decoration: none;
    color: #EB984E;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}
.idiv2 a:hover{
    background-color: #6C798B;
}
.a{
    text-align: center;
    margin-top: 20px;
}
.idiv3 h2{
    font-family: 'Lora', sans-serif;
    color: #ffffff;
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}
.idiv3 p{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 100px;
    color: #ffffff;
    line-height: 1.8;
    padding: 30px;
}
.idiv3 a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    font: 16px;
    color: #EB984E;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    border-radius: 50px;
}
.c{
    text-align: center;
    margin-top: 10px;
}
.idiv3 a:hover{
    background-color: #6C798B;
}


/* ------------------------------------home--------------------- */

.heading{
    text-align: start;
    color: RGBA(108, 121, 139, 0.8);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    padding-left: 20px;
}
.cellpadding{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.smallbox{
    display: flex;
    text-align: left;
    padding: 10px;
    flex-wrap: wrap;
}
.smallbox h4{
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
    padding-top: 12px;
}
.smallbox p{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}


/* ------------------------Nea gadget---------------------- */


.cellpadding1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    padding: 10px;
}
.box0{
     text-align: center;
    /* border: 1px solid green; */
}
.box0 h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
.box0 p{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}
.cellpadding2{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    justify-content: space-evenly;
}
.smallbox0{
    text-align: center;
    padding: 10px;
}
.smallbox0 h4{
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
.smallbox0 p{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    padding: 20px 0px;
}
.smallbox0 a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    color:#EB984E;
    background-color: #ffffff;
    border: 1px solid #EB984E ;
}
.smallbox0 a:hover{
    color: #ffffff;
    background-color: #EB984E;
}


/* -----------------------------------All Products----------------------------- */

.heading1{
    text-align: center;
    padding-bottom: 30px;
}
.heading1 h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
.box1{
    position: relative;
    /* border: 1px solid red; */
    padding: 10px;
    margin-bottom: 40px;
    width: 21%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* text-align: center; */
}
.img{
    border-bottom: 1px solid rgb(217, 212, 212);
    width: 100%;
    /* height: 300px; */
}
.smallbox1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.smallbox1 p{
    color: #364253;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    padding-bottom: 40px;
}
.smallbox1 span{
    color: #364253;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}
/* .bag{
    border: 1px solid #EB984E;
    color: #EB984E;
    position: absolute;
    border-radius: 50%;
    /* font-size: 48px; 
}*/
/* .ri-handbag-line
    font-size: 48px;
    /* padding: 10px; 
}*/
 
 
.over{
    /* border: 1px solid red; */
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 347px;
    opacity: 0;
}
.over:hover{
    opacity: 1;
    background-color: #6c798beb;
}
.microbox a{
    display: inline-block;
    text-decoration: none;
    /* border: 1px solid red; */
    padding: 10px 25px;
    border-radius: 50px;
    background-color: #ffffffea;
    color: #EB984E;
}
.microbox0 a{
    display: inline-block;
    text-decoration: none;
    /* border: 1px solid red; */
    padding: 10px 26px;
    border-radius: 50px;
    background-color:#EB984E;
    color: #ffffffea;
}
.microbox0 p{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    padding-bottom: 30px;
}
.smallbox0 span{
    color: #364253;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}

